extends layout.pug

append head
  link(rel="stylesheet" href="stylesheets/index.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
  script(src="/javascripts/index.js" type="module" defer)

block content
    div(class='intro-sentence')
      h1 The smart to-do app for busy people.
    div(class="large-sign-up")
      div(class='big-button')
        a(href='/sign-up') Sign Up Free
    div(class='picture-quotes')
      div(class = 'quotes', id='man-quote')
        img(src="https://www.rememberthemilk.com/img/hp_face_1.png?1587967172")
        span Pick up the bread tomorrow.
      div(class = 'quotes', id='woman-quote')
        img(src='https://www.rememberthemilk.com/img/hp_face_2@2x.png?1587967172')
        span Call Bob Thursday.
    div(class='picture')
      img(src='https://www.rememberthemilk.com/img/hp_steve_3@2x.png?1587967172')
    div(class='bottom-quote')
      h2 Get things done, together.
      p Share your lists and give tasks to others to get things done faster.
