extends layout.pug

block content
  if (errors.length > 0)
    div(class='errors-div' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  form(action="/log-in" method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="email") Email
      input(type="text" name="email")
      label(for="password") Password
      input(type="password" name="password")
      button(type="submit") Login
