extends layout.pug

block content
    if (errors.length > 0)
        div(class='' role='alert')
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error
    form(action="/sign-up" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="firstName") First Name
        input(type="text" name="firstName")
        label(for="lastName") Last Name
        input(type="text" name="lastName")
        label(for="email") Email
        input(type="text" name="email")
        label(for="password") Password
        input(type="password" name="password")
        label(for="confirmPassword") Confirm Password
        input(type="password" name="confirmPassword")
        button(type="submit") Sign-Up

        a(class="demo-user-button" href="/demo") Demo User
