extends layout.pug

append head
    link(rel="stylesheet" href="stylesheets/sign-up.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
    script(src="/javascripts/sign-up.js" type="module" defer)

block content
    div(class='right-side')
        div(class='sign-up-sentence') Sign up for free.
        if (errors.length > 0)
            div(class='' role='alert')
                p The following error(s) occurred:
                ul
                    each error in errors
                        li= error
        div(class="form-div")
            form(action="/sign-up" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="text" name="firstName" placeholder='First Name')
                input(type="text" name="lastName" placeholder='Last Name')
                input(type="text" name="email" placeholder="Email")
                input(type="password" name="password" placeholder='Password')
                input(type="password" name="confirmPassword" placeholder='Confirm Password')
                button(type="submit") Sign-Up!

                a(class="demo-user-button" href="/demo") Demo User

    main(class='left-side')
        div Join millions of people getting organized and productive!
