extends layout

append head
  link(rel="stylesheet" href="stylesheets/user-main.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
  script(src="/javascripts/user-main.js" type="module" defer)


block content
  h1(class='welcome') Welcome #{user.firstName}

  button(class='modal-button') Create List
  div(class='all-list-items')
    ul(class="list_summary")
      p(class='lists-p') Lists
      each list in listsObj
        li= list.name

  div(class='modal')
    div(class='modal-content')
      span(class='close-button')
      div(class="modal-title")
        p(class='firstP') Add List
        p Please enter a new list name:
        form(action=`/lists` method='post' class='modal-form')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='text' class="input-list-name" placeHolder='List Name')
          div(class='modal-content-buttons')
            button(type='submit' class='add-list-button') Add List
            button(class='cancel-button') Cancel


  div(class="tasks-div")
    div(class="new-task")

    div(class="all-tasks")
      ul(class="tasks_summary")
        p(class='taks-p') Tasks
        form(action="/tasks" class="form-task" method="post")
          input(type="text" name="task" class="task-input")
          button(type="submit" class="button-task") Add Task
          each task in tasksObj
            li= task.task
