extends layout

append head
  link(rel="stylesheet" href="stylesheets/user-main.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
  script(src="/javascripts/user-main.js" type="module" defer)


block content
  div(class='welcome') Welcome #{user.firstName}

  each list in listsObj
    li= list.name

  each task in tasksObj
    li= task.task


  button(class='modal-button') Create List
  div(class='modal')
    div(class='modal-content')
      span(class='close-button')
      div(class="modal-title")
        p Add List
        p Please enter a new list name:
        form(action=`/lists` method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='text' class="input-list-name" placeHolder='List Name')
          div(class='modal-content-buttons')
            button(type='submit' class='add-list-button') Add List
            button(class='cancel-button') Cancel
