* {
    background-color: #0060BF;
    color: white;
    font-family: "Nunito";
    font-size: 16px;
}

.nav-bar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 45px;
    border-bottom: solid rgba(0, 0, 0, 0.048) 1px;;
}

.bread-pic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.buttons li {
    display:inline-block;
    margin: 0 25px;
}

.sign-button {
    border: solid white 2px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

}

.buttons a {
    text-decoration: none;
}

.large-sign-up {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.big-button {
    border: solid rgb(218, 67, 7) 1px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(218, 67, 7);
    border-radius: 5px;
}

.big-button a {
    background-color: rgb(218, 67, 7);
    font-size: 22px;
    text-decoration: none;
}

.intro-sentence {
    display: flex;
    justify-content: center;
    margin-top:70px;
}

h1 {
    font-size: 45px;
    font-family: "Nunito"
}

.picture {
    display: flex;
    justify-content: center;
    padding: 50px;

}

.picture img {
    width: 350px;
    height: 300px
}

.picture-quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
}

.picture-quotes span {
    background-color: white;
    color: black;
    font-size: 20px;
}

.quotes#man-quote {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

#woman-quote {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 60px;
}

.bottom-quote h2, p {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.bottom-quote h2 {
    font-weight: bolder;
    font-size: 30px;
}

.bottom-quote p {
    color: rgb(233, 232, 232);
    font-size: 20px;
    width: 300px;
    word-wrap: break-word;
    margin: 0 auto;
    padding-top: 10px;
}

#woman-quote img {
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    margin: 0 10px 0 0;
}

#man-quote img {
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    margin: 0 10px 0 0;
}
