* {
    background-color: #bfd8f5;
    font-family: 'Nunito';
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    left: 50%;
    background-color: white;
    padding: 30px;
    width: 20%;
    height: 30%;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    align-items: center;
    font-family: 'Nunito';
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

.nav-title {
    text-decoration: none;
    font-family: "Nunito";
    font-weight: bold;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5px;
    -webkit-text-stroke: 1px black;
}

.bread-image {
    height: 70px;
    width: 70px;
}

.modal-button {
    padding: 5px;
    width: 100px;
    background-color: white;
    color: #009DFF;
    border: solid #009DFF 2px;
    border-radius: 5px;
}

.nav-bar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid rgba(0, 0, 0, 0.048) 1px;
}

.bread-pic {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.buttons li {
    list-style-type: none;
    margin-top: 60px;
}

.log-out {
    text-decoration: none;
    border: solid white 2px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 10px;
}

h1 {
    display: block;
    text-align: center;
    font-family: 'Nunito';
    font-weight: bolder;
    text-decoration: underline;
}

.tasks-div {
    margin-top: -50px;
}

.add-task-div {
    display: inline;
    text-align: center;
    margin-left: 250px;
}

.task-p {
    font-size: 20px;
}

.task-input {
    border-radius: 5px;
    background-color: white;
}

.form-task {
    margin-top: -20px;
}

.button-task {
    padding: 5px;
    width: 100px;
    background-color: white;
    margin-top: 10px;
    color: #009DFF;
    border: solid #009DFF 2px;
    border-radius: 5px;
    margin-left: 5px;
}

.list-div {
    margin-left: 80px;
    display: block;
    position: absolute;
    width: fit-content;
}

.lists-p {
    font-size: 20px;
    font-weight: bolder;
}

.list-text {
    display: inline-block;
    width: 150px;
}

.list-edit, .list-delete, .task-edit, .task-delete {
    padding: 5px;
    margin-left: 5px;
    color: white;
    border-radius: 5px;
}

.list-edit, .task-edit {
    background-color: #009DFF;
    border: solid #009DFF 1px;
}

.list-delete, .task-delete {
    background-color: rgb(218, 67, 7);
    border: solid rgb(218, 67, 7) 1px;
}

.tasks_summary {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.list-task-lines {
    display: flex;
    flex-direction: row;
}

.notepad-lines {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 50%;
    left: 25%;
    padding: 20px;
}

.line1, .line16 {
    border-radius: 5px;
}

.line {
    background-color: white;
    width: 100%;
    margin-bottom: 1px;
    padding: 20px;
    border: dashed grey 1px;
}

.list-listItem {
    margin-bottom: 5px;
    list-style: none;
}

.allTasks {
  margin-bottom: 15px;
}

.firstP {
    background-color: white;
}

.modal-form {
    background-color: white;
}

.cancel-button {
    margin-left: 10px;
    padding: 5px;
    min-width: 70px;
    background-color: white;
}

.add-list-button {
    margin-left: 10px;
    padding: 5px;
    min-width: 70px;
    background-color: white;
}

.input-list-name {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    background-color: white;
    margin-left: 12px;
}

.enter-list-name {
    background-color: white;
}

.modal-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content-buttons {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}
